@model Academia_1.Models.Movie
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{var title = "Movie";}

<h1> @title</h1>

<div>
    <ul>
        <li>@Model.Name</li>
    </ul>
</div>

